<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to BitLee</h1>
    <form  method="POST" action="/url">
        <label for="redirectUrl">URL</label>
        <input id="redirectUrl" name="url" type="text">
        <button type="submit">Submit</button>
    </form>
    <div>
        <h1>Your Links</h2>
        <ol>
            <% allUrls.forEach(url => { %>
            <li><%= url.redirectId %> : <a href='http://localhost:8001/<%=url.shortId%>'> <%=url.shortId%>   %></a> - <a href="http://localhost:8001/url/analytics/<%=url.shortId%>">[analytics]</a></li>
            <% }) %>
        </ol>
    </div>
</body>
</html>