<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Login</title>
</head>
<body>
    <div class="header">
        <a href="http://localhost:8000" class="logo">BitLee</a>
        <div class="header-right">
            <a href="http://localhost:8000/signup">Signup</a>
        </div>
      </div>
    <form action="/user/login" method="POST" id="login-form">
        
        <h1>Login</h1>
        

        <label for="Email">Email</label>
        <input type="email" required name="email">
        <label for="Password">Password</label>
        <input type="password" required name="password">
        <button type="submit">Login</button>
    </form>
</body> 
</html>